body {
    font-family:Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
    color: #515076;
}

.under-name {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    color: #A5A3B9;
}

.product-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0%;
    color: #515076;

}

.bcard {
    background-color: #F7F7FA;
    padding: 25px;
    margin: 73px;
}

.price{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-style: 700;
   
}

.number{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    font-style: 700;
    margin: 15px;
    padding: 15px;
}

ul {
    list-style-type: none;
}